<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteTextBox" version="1.2.0" targetFramework="net472" />
  <package id="Caliburn.Micro" version="4.0.173" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="4.0.173" targetFramework="net472" />
  <package id="gong-wpf-dragdrop" version="2.3.2" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Pdoxcl2Sharp" version="0.6.1" targetFramework="net472" />
  <package id="Pfim" version="0.10.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net472" />
</packages>